<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑</title>
</head>
<body>
<% if (status !== undefined && status === 'edit') { %>
<form action='/post/update/<%= id %>' method='post'>
    <% } else { %>
    <form action='/post/create' method='post'>
        <% }  %>
        <div>
            <label>标题：</label>
            <div> <textarea rows="1" style="resize: none" name="title"><%= typeof title !== 'undefined' && title || '' %></textarea></div>
        </div>
        <div>
            <label>内容：</label>
            <div> <textarea name="content"  cols="30" rows="10"><%= typeof content !== 'undefined' && content || '' %></textarea></div>
        </div>
        <input type="submit" value="提交">
        <input type='hidden' name='_csrf' value='<%= ctx.csrf %>' />
        <!-- 关于ctx.csrf 的可以看官方这里的介绍 https://eggjs.org/zh-cn/core/security.html 安全篇 -->
    </form>
</body>
</html>